{% extends "base.njk" %}

{% block title %}
<title>Key Log | About</title>
{% endblock %}

{% block main %}
<h1 class="title unica-one">About</h1>
<p>This is the about page.</p>
{% endblock %}

{% block script %}
<script src="app.js"></script>
{% endblock %}