{% extends "base.njk" %}

{% block title %}
<title>Key Log</title>
{% endblock %}

{% block main %}
<h1 class="title">Key Log</h1>
<div id="root">
</div>
{% endblock %}

{% block script %}
<script src="/js/app.js"></script>
{% endblock %}