{% extends "base.njk" %}

{% block title %}
<title>Key Log | Manage</title>
{% endblock %}

{% block main %}
<h1 class="title">Manage Keys</h1>
<form>
    <label for="label">Label:</label>
    <input type="text" id="label" name="label" placeholder=" Label Text" />
    <button type="button">Create Key</button>
</form>
<button type="button" onclick="handleDelete(event)">Delete Selected</button>
<div id="root"></div>
{% endblock %}

{% block script %}
<script src="/js/manage.js"></script>
{% endblock %}