@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url(https://fonts.googleapis.com/css?family=Unica+One);


body {
  background-color: #282c34;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #abb2bf;
}

table {
  width: 98%;
  margin-left: 1%;
}

td {
  width: 50%;
  text-align: center;
  font-size: 3em;
}

.title {
  text-align: center;
  font-size: 5em;
  font-weight: 100;
  margin-bottom: 5%;
  color: #4a8c56;
}

.unica-one {
  font-family: 'Unica One', 'Lato', sans-serif;
}

.container {
  width: 100%;
}

.left {
  width: 49%;
  height: 900px;
  margin-left: 1%;
  border-top: 6px solid #7e8085;
  border-right: 3px solid #7e8085;
}

.right {
  width: 49%;
  height: 900px;
  border-top: 6px solid #7e8085;
  border-left: 3px solid #7e8085;
}

.item-bin {
  display: inline-block;
  float: left;
  overflow: hidden;
}

.item {
  color: #e05a4c;
  text-align: center;
  width: 95%;
  margin: 5px;
  margin-left: 2.5%;
  overflow-x: hidden;
  border-radius: 10px;
  background-color: #e5e5e6;
  border: none;
  font-weight: 300;
}

.hover:hover{
  background-color: #e05a4c;
  color: #e5e5e6;
  cursor: pointer;
}

.out{
  text-align: left;
}

.out h2 {
  margin-left: 5%;
}

.out .small {
  font-size: .65em;
  margin-left: 5%;
}

.out button {
  float: right;
  margin-right: 5%;
}

button{
  height: 35px;
  width: 100px;
  font-size: .6em;
  cursor: pointer;
}

.input-txt {
  height: 25px;
  width: 160px;
  margin: 0 auto;
  display: block;
  font-size: 1em;
}

.footer {
  position: static;
  bottom: 0;
  left: 0;
  margin-top: 100px;
  margin-left: 2%;
}

.footer a {
  text-decoration: none;
  color: #4a8c56;
}

footer p {
  font-size: smaller;
}
